/* below style will be applied to all sroll in dom */
*::-webkit-scrollbar {
  overflow: auto;
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(226, 226, 226);
  width: 3px;
  border-radius: 10px;
}

/* div element with logo white and background black */
.div-h1 {
  background-color: black;
  color: white;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

/* h1 element style with logo */
.top-head {
  font-family: "Monoton", cursive;
  font-size: 70px;
  text-align: center;
}
